@import "https://fonts-online.ru/fonts/verdana";

h1 {
  text-align: center;
}

.QWE {
  height: 100px;
  width: 500px;
  border:  1px solid #b3e0ff;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #fbfbfb;
}

p {
  position: relative;
  top: -23px;
  font-size: 15px;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  font-family: 'verdana', sans-serif;
  color: #724242;
}
